*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    background:#eee;
}

#content{
    background: #fff;
    padding: 20px;
    padding-top: 0;
    color:#444;
    margin: 0 auto;
    overflow: hidden;
    max-height: 1470px;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#content.open{
    max-height: 10000px;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#show-more{
    background: #1594e5;
    color: #fff;
    display: block;
    width: 140px;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
}